.contentMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-50);

    .leftArea{
        // width: 20%;
        // float: left;
        // background-color: #46b490;
        // color: black;
        width: 18%;
        margin: 0.8rem;
        display: inline-block;
                
        .componentFilters{
            //width: calc(100% - 1.6rem);
            
            width: 100%;
        }
        //background-color: red;
        //padding: 5vw 0vw 5vw 0vw;
        //min-width:40vw;
    }
    
    .table{
        width: 80%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";


@media #{$media-desktop} {
    .contentMain{
        
        .leftArea{
            display: none;
        }

        .table{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

    }
  }
  
  @media #{$media-tablet} {
    .contentMain{
        
        .leftArea{
            display: none;
        }

        .table{
            width: 100%;
        }

    }
  }
  
  @media #{$media-mobile} {
    .contentMain{
        
        .leftArea{
            display: none;
        }

        .table{
            width: 100%;
        }

    }
  }
  
  @media #{$media-mobile-sm} {
    .contentMain{
        
        .leftArea{
            display: none;
        }

        .table{
            width: 100%;
        }

    }
  }